.btn {
  width: 200px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  box-sizing: border-box;
  margin: 10px 0;
}

.flat-button {
  background-color: black;
  color: white;
}

.ghost-button {
  border: 1px solid black;
  color: black;
}
