.product-list-wrapper {
  display: grid;
  grid-template-columns: 20% 80%;
}

.filter-section,
.product-list-section {
  overflow: hidden;
}

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-section {
  overflow-y: auto;
  padding-right: 1rem;
  box-sizing: border-box;
}

.product-list-section {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}
