.product-list-wrapper,
.filter-section,
.product-list-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-section {
  flex: 0 0 20%;
}

.product-list-section {
  flex: 0 0 80%;
}
