.product-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.product-card {
  width: 140px;
  position: relative;
  padding: 10px;
  border: 1px solid;
}

.product-card-image {
  width: 100%;
  position: relative;
}

.product-card-image img {
  width: 100%;
}

.fav-icon {
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.fav-icon.selected {
  background: green;
}
